In [1]:
import pandas as pd
import glob
import numpy as np

In [12]:
def merge_income_cols(files, df1, how, cols_to_merge):
    """
    

    Parameters
    ----------
    on : TYPE: List
        DESCRIPTION.
    how : TYPE
        DESCRIPTION.
    cols__to_merge : TYPE
        DESCRIPTION.

    Returns Merged income files from the specified period
    -------
    None.

    """
    for path in income_files[1:]:
        df2 = pd.read_csv(path)
        month = df2['MONTH'][10]
        print(month)
        cols_to_keep = ['HH_ID','MEM_ID'] + [cols_to_merge]
        df2 = df2[cols_to_keep]
        rename_dict = {}
        for col in col_to_merge:
            rename_dict[col]=month+str(col)
        df2.rename(columns = rename_dict)
        df1 = pd.merge(df1,df3,how = how,on=['HH_ID','MEM_ID'])
    return df1

In [3]:
income_path = r"C:\Users\parik\Documents\Data sets\income pyramids\Member Incomes"
income_files = glob.glob(income_path + "/*.csv")[60:]

In [4]:
cols_to_keep = ['HH_ID','MEM_ID','MONTH','MARITAL_STATUS','GENDER']

In [5]:
df = pd.read_csv(income_files[0])
df = df[cols_to_keep]

In [6]:
df.head()

      HH_ID  MEM_ID     MONTH  MARITAL_STATUS          GENDER
0  77051739       1  Jan 2019         Widowed               M
1  77051739       2  Jan 2019       Unmarried               M
2  77051739       4  Jan 2019  Not Applicable  Not Applicable
3  77051739       5  Jan 2019  Not Applicable  Not Applicable
4  77051739       6  Jan 2019       Unmarried               F

In [13]:
df2 = merge_income_cols(income_files[1:], df1= df, how= 'inner',cols_to_merge= "MARITAL_STATUS")

Feb 2019

NameError: name 'col_to_merge' is not defined